.row{
    text-align: center; 
    font-family: 'Merienda One', sans-serif;
   
}
div.polaroid {

    border: 1px double; 
    margin: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}
div.col-xs-12{
    padding-top:15px;
}
img{
    width: 80%
}
p{
    color:midnightblue;
}
h3{
    color: #FE850C;
}