

<div class="row">
 
            
    <div>
        <ul class="items">
            <li *ngFor="let post of postsModels">
                <span>{{post.title}}</span>
                <br>
                <span>{{post.description}}</span>
                <br>
                <span>{{post.imageUrl}}</span>
                <br>
                <span>{{post.articleUrl}}</span>
            </li>
        </ul>
    </div>
                <button (click)="getItems()" ></button>
                 
            
   
       
</div>
