

 
<div class="row"> 
        <div *ngFor="let post of postsModels" >
          <div class="col-xs-12">
            
            <div class="polaroid">           
                <h3>{{post.title}}</h3>
                <img src="{{post.imageUrl}}" alt="" />    
                <p>{{post.description}}</p>
                <br>      
                <br>
                <p>Read more: {{post.articleUrl}}</p>
                
            </div>
           
        </div> 
        </div>
      </div>