

 
<div class="row"> 
        <div *ngFor="let post of postsModels" >
          <div class="col-xs-12">
            
            <div class="polaroid">           
                <h3>{{post.title}}</h3>
                <img src="{{post.imageUrl}}" alt="" />    
                <p>{{post.description}}</p>
                <br>      
                <br>
                <a href="{{post.articleUrl}}">Read more: </a>
                <p>Created by:" {{post.createdByUser}}</p>
            </div>
           
        </div> 
        </div>
      </div>

      <div id="create-post-form"   class="text-left">
            <div class="main-login-form">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm" id="createPostForm">
                    <div class="login-group">
                        <!--TITLE-->
                        <div class="form-group">
                            <input type="text" maxlength="100" name = "title" id="title" placeholder="Title" [(ngModel)] ="post.title" required="true">
                            
                        </div>
                       
                        <!--DESCRIPTION-->
                        <div class="form-group">
                            <input type="text" maxlength="1000" name="description" id="description" placeholder="Description"[(ngModel)]="post.description" required="true">
                        </div>
                        <!--IMG URL-->
                        <div class="form-group">
                            <input type="text"  maxlength="100" name="imageUrl" id="imageUrl" placeholder="Image url" [(ngModel)]="post.imageUrl"required="true">
                        </div>
                        <!--Confirm Password-->
                        <div class="form-group">
                            <input type="text" maxlength="100" id="articleUrl" name = "articleUrl"placeholder="Article url" [(ngModel)]="post.articleUrl" required="true">
                        </div>
                       
                        <!--Button GO-->
                        <div class="form-group">
                            <input type="submit" class="login-button" value="GO" />
                        </div>
                    </div>
                </form>
            </div>
    </div>