<h3 style="font-family: 'Merienda One', sans-serif;">
    Team Of The Week 
</h3>
<div class="row"> 
  <div *ngFor="let player of players" >
    <div class="col-xs-4">
      
      <div class="polaroid">           
          <h3>{{player.Name}}</h3>
          <img src="{{player.ImgSrc}}" alt="" />    
          <p>{{player.Position}}</p>
          <br>      
          <br>
          <p>Team: {{player.Team}}</p>
          <p>Player Number: {{player.Id}}</p>
      </div>
     
  </div> 
  </div>
</div>